{% extends "layouts/base.html" %} {% block content %}

<!-- todo - learn how to use content safe -->
{{ content | safe }}

<div class="image-grid">
  <img src="img/Shy-BHB.webp" />
  <img src="img/Burntcoat-BPB.webp" />
  <img src="img/Girl-DHB.webp" />
  <img src="img/BeyondMeasure-RHB.webp" />
  <img src="img/littlescratch-ShortRPB.webp" />
  <img src="img/ALonelyMan-DHB.webp" />
  <img src="img/IAmDynamite-BPB.webp" />
  <img src="img/Freshwater-BPB-roundel.webp" />
  <img src="img/WomenTalking-DHB.webp" />
  <img src="img/SeeWhat-RHB.webp" />
  <img src="img/Kitchen-BPB.webp" />
  <img src="img/Franzen-Corrections-BPB.webp" />
</div>

{% endblock %}
