{% extends "layouts/base.html" %} {% block content %}

<article class="bio">
  <img src="img/jp.svg" alt="JP monogram logo" class="logo" />
  <p>
    Jonathan Pelham is a freelance graphic designer, specialising in book covers, based in London,
    UK.
  </p>
  <p>Email: j@jpelham.co.uk <br />Instagram: @jonathan.pelham</p>
</article>
<!-- todo - learn how to use content safe -->
{{ content | safe }}

<div class="image-grid">
  <img src="img/an-encyclopaedia-of-myself.jpg" />
  <img src="img/at-night-we-walk-in-circles.png" />
  <img src="img/consumed.png" />
  <img src="img/how-to-make-a-human-being.png" />
  <img src="img/i-will-find-you.png" />
  <img src="img/inside-story-hb.jpg" />
  <img src="img/multiple-choice.jpg" />
  <img src="img/one-point-two-billion.jpg" />
  <img src="img/the-last-stalinist.png" />
  <img src="img/thumb.jpg" />
  <img src="img/ukgff-2.jpg" />
  <img src="img/verso-tote.png" />
  <img src="img/ways-to-disappear.jpg" />
  <img src="img/welcome-to-braggsville.jpg" />
</div>

{% endblock %}
