:root {
  --color-white: rgb(245, 245, 242);
  --color-grey: rgb(220, 220, 217);
  --color-black: rgb(25, 25, 25);
  --color-secondary: rgb(255, 221, 0);
  --color-highlight: rgb(255, 255, 0);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--color-white);
  margin: 0;
  font-family: "DM Sans", Segoe UI, system-ui, -apple-system, sans-serif;
  font-size: 1.25em;
  color: var(--color-black);
}

main {
  padding: 2rem 4vw 6rem;
}

header {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem 6rem;
  justify-content: space-around;
  align-items: center;
  padding: 6rem 6vw 4rem;
  margin: 0 4vw;
  font-size: calc(1em + 2 * ((100vw - 320px) / 960));
}

#logo {
  width: 4rem;
  flex: 0;
  align-self: flex-start;
  padding: 6px 0 4rem;
}

.info-flex {
  flex: 1 800px;
}

#bio {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem 2rem;
}

#bio > p {
  flex: 1 0 19rem; /* flexbase controls col stacking */
  margin: 0;
  padding-bottom: 0.5em;
}

.contact {
  width: 100%;
  padding: 1rem 0 0;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-flow: row;
  gap: 2rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* -- LINK STYLING -- */

a {
  color: var(--color-black);
  display: inline-block;
  margin-block-end: 0.5rem;
  margin-inline-end: 0.5rem;
  text-decoration-line: underline;
  text-decoration-thickness: 10%;
  text-underline-offset: 3px;
}

a:where(:hover, :focus) {
  text-decoration-color: var(--color-black);
  background-color: var(--color-secondary);
  text-decoration: none;
}

/* tabbing through links */
a:focus {
  background-color: var(--color-secondary);
  color: var(--color-black);
}

.icon {
  stroke: var(--color-black);
  display: inline-block;
}

.icon:hover,
.icon:focus {
  stroke: var(--color-white);
  fill: var(--color-black);
}

/* Manual orphan prevention */
span.nobreak {
  white-space: nowrap;
}

/* footer {
  font-size: calc(0.7em + 2 * ((100vw - 320px) / 960));
  padding: 4rem 6vw;
} */

@media (max-width: 800px) {
  /* Centre type on one column layouts */
  header {
    text-align: center;
  }
}

@media (inverted-colors) {
  /* Images do not have colour inverted if user’s screen is set to invert */
  img,
  video {
    filter: invert(100%);
  }
}
