:root {
  --color-white: rgb(245, 245, 242);
  --color-grey: rgb(220, 220, 217);
  --color-black: rgb(25, 25, 25);
  --color-secondary: rgb(255, 82, 82);
  --color-highlight: rgb(255, 255, 0);
}

* {
  background-color: var(--color-white);
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
body {
  margin: 0;
}

body {
  font-family: Segoe UI, system-ui, -apple-system, sans-serif;
  font-size: 1.3rem;
}

h1 {
  font-weight: 600;
}

/* -- LINK STYLING -- */
a {
  color: var(--color-black);
  display: inline-block;
  margin-block-end: 0.5rem;
  margin-inline-end: 0.5rem;
  text-decoration: none;
  text-decoration-thickness: 10%;
  text-underline-offset: 3px;
}

/* Change underline on :hover and :focus */
a:where(:hover, :focus) {
  color: var(--color-secondary);
  text-decoration-color: var(--color-black);
  text-decoration-line: underline;
}

/* Highlight active page */
[aria-current="page"] {
  text-decoration-line: underline;
}

/* -- NAVIGATION -- */

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* -- GALLERY -- */

img {
  background: var(--color-highlight);
  display: block;
  width: 100%;
}

/* -- KEYBOARD CONTROL -- */

/* Remove the default :focus outline */
*:focus {
  outline: none;
}

/* Show a custom outline on :focus-visible */
*:focus-visible {
  outline: 2px solid var(--color-secondary);
  color: var(--color-secondary);
  outline-offset: 4px;
  text-decoration: none;
}

/* Text selection highlight colour */
::selection,
::-moz-selection {
  background: var(--color-highlight);
}
