* {
  box-sizing: border-box;
}

body {
  background: #efefea;
  margin: 0;
}

.bio,
main {
  padding: 2rem 4vw 0;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  display: inline;
  width: auto;
  background: #fa0;
}

.bio {
  background-color: lightcyan;
  gap: 2rem;
}

.logo {
  max-width: 100px;
  background-color: aqua;
}

.bio > p {
  font-size: 1.5em;
  background-color: chartreuse;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-flow: row;
  gap: 2rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

#wide {
  grid-column: span 2;
  /* grid-col-span: 2; */
}

@media (max-width: 570px) {
  #wide {
    grid-column: span 1;
  }
}
