<!-- <header>
  <nav>
    <ul class="nav-links-wrapper">
      {% for item in navigation.items %}
      <li>
        <a href="{{ item.url }}" class="nav-links-text">{{ item.text }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header> -->

<header>
  <img src="img/meta/jp.svg" alt="JP monogram logo" id="logo" />

  <div class="info-flex">
    <section id="bio">
      <p>
        Jonathan Pelham is a freelance graphic designer, specialising in book covers.
        <span class="nobreak">He is</span> based in <span class="nobreak">London, UK.</span>
      </p>
      <p>
        Clients and past employers include Faber & Faber, 4th Estate, Picador, Granta and
        <span class="nobreak">Verso Books.</span>
      </p>
    </section>
    <div class="contact">
      <a href="mailto:j@jpelham.co.uk">Email</a>
      <a href="https://www.instagram.com/jonathan.pelham/">Instagram</a>
    </div>
  </div>
</header>
